    $Verydarkcyan: hsl(183, 100%, 15%);
    $Darkgrayishcyan: hsl(186, 14%, 43%);
    $darkgrayishcyan: hsl(184, 14%, 56%);
    $SweetGreen: #26C2AD;
    $lightgrayishcyan: hsl(185, 41%, 84%);
    $Lightgrayishcyan: hsl(189, 41%, 97%);
    $White: hsl(0, 0%, 100%);
    $fSize: 24px;

    body
        font-family: 'Space Mono', monospace
        color: var(--Darkgrayishcyan)
        background-color: var(--lightgrayishcyan)