    $Verydarkcyan: hsl(183, 100%, 15%);
    $Darkgrayishcyan: hsl(186, 14%, 43%);
    $darkgrayishcyan: hsl(184, 14%, 56%);
    $SweetGreen: #26C2AD;
    $lightgrayishcyan: hsl(185, 41%, 84%);
    $Lightgrayishcyan: hsl(189, 41%, 97%);
    $White: hsl(0, 0%, 100%);
    $fSize: 24px;

    body {
        font-family: 'Space Mono', monospace;
        color: $Darkgrayishcyan;
        background-color: $lightgrayishcyan;
    }

    .splitter {
        margin: 10% 0;

        h2 {
            color: $Verydarkcyan;
            letter-spacing: 0.7rem;
            line-height: 1.5;
            text-transform: uppercase;
            text-align: center;
            margin: 0;
            padding: 0;
        }
    }

    .card {
        background-color: $White;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
        border-radius: 30px 30px 0 0;
    }

    .billArea {
        width: 85%;
        margin: auto;
        padding-top: 10px;

        h4 {
            margin: 10px 0;
        }
    }

    .billValue {
        background-color: $Lightgrayishcyan;
        color: $darkgrayishcyan;
        font-size: $fSize;
        padding: 10px 15px;
        border-radius: 5px;

        span {
            float: right;
            font-weight: 700;
            color: $Verydarkcyan;
        }
    }

    .tipArea {
        width: 85%;
        margin: auto;
        margin-top: 30px;
    }

    .btnsBox {
        height: 170px;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;
    }

    .tipBtn {
        background-color: $Verydarkcyan;
        color: $White;
        font-size: $fSize;
        font-weight: 700;
        line-height: 2;
        width: 48%;
        text-align: center;
        border-radius: 5px;
    }

    .tipBtn:active {
        background-color: var(--SweetGreen);
        color: var(--Verydarkcyan);
    }

    .btnsBox :last-child {
        background-color: var(--Lightgrayishcyan);
        color:var(--Darkgrayishcyan);
    }

    .btnsBox :last-child:active {
        background-color: var(--Lightgrayishcyan);
        color: var(--Verydarkcyan);
    }


    .peopleArea {
        width: 85%;
        margin: auto;
        padding-top: 15px;

        h4 {
            margin-bottom: 10px;
        }
    }

    .people {
        background-color: var(--Lightgrayishcyan);
        color: var(--Verydarkcyan);
        font-size: var(--fSize);
        font-weight: 700;
        padding: 10px 15px;
        border-radius: 5px;
        text-align: right;
    }

    .icon-user {
        float: left;
        color: var(--darkgrayishcyan);
        font-size: 18px;
    }

    .resoultArea {
        width: 90%;
        height: auto;
        margin: 20px auto 70px auto;
        background-color: var(--Verydarkcyan);
        border-radius: 15px;
        padding-bottom: 10px;
    }

    .amount {
        padding: 20px;

        h4 {
            color: var(--White);
            display: inline-block;
            margin-bottom: 0;
        }
    }

    .prsn {
        display: block;
        font-size: 13px;
        line-height: 2;
        color: var(--darkgrayishcyan);
    }

    .cashBox {
        display: inline-block;
        float: right;
        margin-top: 20px;
    }

    .price {
        font-size: 33px;
        font-weight: 700;
        float: right;
        margin: auto 0;
        color: var(--SweetGreen);
    }

    .total {
        padding: 0 20px;

        h4 {
            color: var(--White);
            display: inline-block;
        }
    }

    .reset {
        font-size: 21px;
        text-transform: uppercase;
        font-weight: 700;
        color: var(--Verydarkcyan);
        background-color: var(--SweetGreen);
        width: 85%;
        margin: 0 auto 15px auto;
        padding: 10px 0;
        border-radius: 5px;
        text-align: center;
    }