    $Verydarkcyan: hsl(183, 100%, 15%);
    $Darkgrayishcyan: hsl(186, 14%, 43%);
    $darkgrayishcyan: hsl(184, 14%, 56%);
    $SweetGreen: #26C2AD;
    $lightgrayishcyan: hsl(185, 41%, 84%);
    $Lightgrayishcyan: hsl(189, 41%, 97%);
    $White: hsl(0, 0%, 100%);
    $fSize: 24px;

    body {
        font-family: 'Space Mono', monospace;
        color: $Darkgrayishcyan;
        background-color: $lightgrayishcyan;
    }

    .splitter {
        margin: 10% 0;

        h2 {
            color: var(--Verydarkcyan);
            letter-spacing: 0.7rem;
            line-height: 1.5;
            text-transform: uppercase;
            text-align: center;
            margin: 0;
            padding: 0;
        }
    }

    .card {
        background-color: var(--White);
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
        border-radius: 30px 30px 0 0;
    }

    .billArea {
        width: 85%;
        margin: auto;
        padding-top: 10px;

        h4 {
            margin: 10px 0;
        }
    }

    .billValue {
        background-color: var(--Lightgrayishcyan);
        color: var(--darkgrayishcyan);
        font-size: var(--fSize);
        padding: 10px 15px;
        border-radius: 5px;
    }